@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'myfooditemcard.css';
@import 'transaction-card.css';
@import 'publicfooditemcard.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #c4e0de;
}

.background-image {
  /* background-image: url('../public/wepik-photo-mode-202286-21024.jpeg'); */
  height: 800px;
  background-size: cover;
  background-repeat: repeat-y;
  width: 100%;
  margin-left: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

footer {
  font-size: xx-small;
}

.create-profile-sign-in {
  text-align: center;
}

.landing-page-sign-in-page-div {
  background-color: black;
  padding: 1.25rem;
} 

/* navbar */
.navbar-brand {
  color: #f8f8f8;
}

/* landing page */

.landingPageDiv {
  text-align: left;
  margin: 0 auto;
  padding: 100px 0;
  max-width: 400px;
}

.landingPageh1 {
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
  font-size: 3rem;
  color: #363636;
}

.landingPageBtnDiv {
  text-align: center;
  justify-content: center;
  margin: 20px;
}

/* My Food Page */

.my-food-page-title-div {
  margin: 50px 0;
}

.my-food-page-title {
  text-align: center;
  color: #363636;
  font-weight: bold;
}

.addFoodButtonDiv {
  margin: 30px 0;
}

.button-container {
  text-align: center;
}

.food-category-dropdown {
  margin: 0 auto;
  max-width: 65%;
  display: block;
}

.filter-button-div {
  text-align: center;
  display: flex;
  flex-wrap: no-wrap;
  max-width: 500px;
  margin: auto;
}

.food-filter-button {
  margin: auto;
  max-width: 144px;
  text-align: center;
}

.card-subtitle {
  line-height: 1.5;
} 


/* Food Item Form */
.food-item-form {
  background-color: white;
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
}

.food-item-form-input {
  margin: 20px 0;
}

/* Profile */

.myProfileImage {
  max-height: 600px;
}

.myProfileCard {
  max-width: 400px;
  margin: 50px auto;
}

.profile-container {
  text-align: center;
}

/* profile form */

.profile-form {
  background-color: white;
  padding: 20px;
  max-width: 800px;
  margin: 50px auto;
}

.profile-form-input {
  margin: 20px 0;
}

/* comment form */

.comment-form {
  margin: 20px;
  background-color: white;
  padding: 1.5rem;
  max-width: 500px;
}

.comment-form-input{
  margin: .75rem 0;
}

.comment-form-user-name {
  margin: .75rem 0;
}

.individual-public-food-item-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.public-food-item-card-individual {
  margin: auto;
}
