/* transaction card */

.transaction-card {
  flex-wrap: wrap;
  flex-direction: row;
  margin: 20px 0;
  text-align: center;
}

.transaction-card-photo {
  min-height: 60px;
  margin: auto;
  padding: 10px;
}
